# JPX Tokyo Stock Exchange Prediction Challenge

## Time Series Analysis

Authors: Jeremy Jang (jj2798), Kevin Lee (kl3642), Kevin Zheng (kz1252)

## 1. Preliminary EDA

Necessary Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#need to import all of the relevant sklearn stuff and corr/arma models

First we load the data into the variable `df`.

In [2]:
df = pd.read_csv('stock_prices.csv', parse_dates=True,index_col='Date')

In [3]:
df.head()

,RowId,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
Date,,,,,,,,,,,
2017-01-04,20170104_1301,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
2017-01-04,20170104_1332,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2017-01-04,20170104_1333,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
2017-01-04,20170104_1376,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
2017-01-04,20170104_1377,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [4]:
print(df.info())

print('\nUnique Securities:')
print(df.SecuritiesCode.unique())
print('Num unique: ',len(df.SecuritiesCode.unique()))
print('AKA 2000 total tickers')

print('\nNaN Values:')
print(df.isnull().sum())
print('\nTotal NaN: ',df.isnull().sum().sum())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2332531 entries, 2017-01-04 to 2021-12-03
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   RowId             object
 1   SecuritiesCode    int64
 2   Open              float64
 3   High              float64
 4   Low               float64
 5   Close             float64
 6   Volume            int64
 7   AdjustmentFactor  float64
 8   ExpectedDividend  float64
 9   SupervisionFlag   bool
 10  Target            float64
dtypes: bool(1), float64(7), int64(2), object(1)
memory usage: 198.0+ MB
None

Unique Securities:
[1301 1332 1333 ... 4168 7342 4169]
Num unique:  2000
AKA 2000 total tickers

NaN Values:
RowId                     0
SecuritiesCode            0
Open                   7608
High                   7608
Low                    7608
Close                  7608
Volume                    0
AdjustmentFactor          0
ExpectedDividend    2313666
SupervisionFlag           0
Target                  238
dtype: int64

Total NaN:  2344336

Looking at the data, we can observe that the dataset includes trading activity/data from multiple unique tickers (2000 of them). 

We need to find a way to properly process the data. Our plan is to use a SARIMAX model, so we have to select individual tickers.